<div class="profile-container">
    <h2>Perfil de Usuario</h2>
    <div class="profile-info">
        <p><strong>Nombre:</strong> {{first_name}} {{last_name}}</p>
        <p><strong>Email:</strong> {{email}}</p>
        <p><strong>Edad:</strong> {{age}}</p>
    </div>
    <form action="/api/sessions/logout" method="POST">
        <button type="submit" class="logout-button">Cerrar sesión</button>
    </form>
</div>